@model Blog.Entities.DTOs.Post.PostCreateDTO

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/lib/ckeditor_4.14.1_full_easyimage/ckeditor/ckeditor.js"></script>

<div class="content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col">
				<div class="card p-3">
					<div class="card-header card-header-info">
						<h4 class="card-title">Create post</h4>
					</div>
					<div class="card-body">
						<form asp-action="CreatePost" enctype="multipart/form-data">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>

							@*<div class="form-group">
									<div class="autocomplete w-100">
											<input asp-for="CategoryCreateDTO.CategoryName" class="form-control" placeholder="Category">
											<span asp-validation-for="CategoryCreateDTO.CategoryName" class="text-danger"></span>
										</div>

									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Category
										</button>
										<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink" style="padding-right: 10px">
											<select multiple class="form-control h-50" id="selectCategory">
												@foreach (var category in Model.CategoryViewDTOs)
												{
													<option class="dropdown-item w-100 " type="button">@category.CategoryName</option>
												}
											</select>

											<div class="dropdown-divider"></div>
											<input asp-for="CategoryCreateDTO.CategoryName" class="form-control text-dark p-3" placeholder="New category" />
											<span asp-validation-for="Title" class="text-danger"></span>

										</div>
								</div>*@

							<div class="form-group">
								<label class="bmd-label-floating">Title</label>
								<input asp-for="Title" class="form-control" style="font-size: 25px" maxlength="100" required />
								<span asp-validation-for="Title" class="text-danger"></span>
							</div>

							<div class="row mt-3">
								<div class="col">
									<div class="form-group">
										<label class="bmd-label-floating mb-4"> Your description here</label>
										<textarea asp-for="Description" class="form-control" id="postDescription" maxlength="500" required>
										</textarea>
										<span asp-validation-for="Description" class="text-danger"></span>
									</div>
								</div>
							</div>

							<div class="row mt-3 mb-2">
								<div class="col">
									<div class="form-group">
										<label class="bmd-label-floating mb-4"> Your post text here</label>
										<textarea asp-for="Text" id="postText" class="form-control" required> </textarea>
										<span asp-validation-for="Text" class="text-danger"></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-3">
									<div class="form-check d-inline-block mr-5">
										<div class="form-group form-check">
											<label class="form-check-label text-warning">
												<input asp-for="CommentingPermission" class="form-check-input" type="checkbox" value="true" />
												<span class="form-check-sign">
													<span class="check"></span>
												</span>
												Allow commenting
											</label>
										</div>
									</div>
								</div>

								<div class="col">
									<div class="mt-2">
										<input type="file" asp-for="Files" accept="image/*" multiple /><br />
										<span asp-validation-for="Files" class="text-danger"></span>
									</div>
								</div>
							</div>

							@*<div class="form-group">
									<label asp-for="LanguageId" class="control-label"></label>
									<input asp-for="LanguageId" class="form-control" />
									<span asp-validation-for="LanguageId" class="text-danger"></span>
								</div>*@

							<button type="submit" class="btn btn-info pull-right">Create</button>
							<div class="clearfix"></div>

							<script>
								CKEDITOR.replace('postText');
								CKEDITOR.replace('postDescription');
							</script>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
