@model IEnumerable<Blog.Entities.DTOs.Post.PostViewDTO>

<h1 class="m-3">My drafts</h1>

<div class="container-fluid d-flex justify-content-center" id="view-all">
	<div class="container">
		@await Html.PartialAsync("_ViewDrafts", Model)
	</div>
</div>