@model IEnumerable<Blog.Entities.DTOs.Post.PostViewDTO>

<h1 class="m-3">My posted posts</h1>

<div class="container-fluid d-flex justify-content-center" id="view-all">
	<div class="container">
		@await Html.PartialAsync("_ViewPosts", Model)
	</div>
</div>