@model Blog.Entities.DTOs.Post.PostUpdateDTO


@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card p-3">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Edit post</h4>
					</div>
					<div class="card-body">
						<form asp-action="UpdatePost" enctype="multipart/form-data">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>

							<div class="form-group">
								<label class="bmd-label-floating">Title</label>
								<input asp-for="Title" class="form-control" style="font-size: 25px" maxlength="100" required />
								<span asp-validation-for="Title" class="text-danger"></span>
							</div>

							<div class="row mt-3">
								<div class="col-7">
									<div class="form-group">
										<label class="bmd-label-floating"> Your description here</label>
										<textarea asp-for="Description" class="form-control" rows="5" maxlength="300" required></textarea>
										<span asp-validation-for="Description" class="text-danger"></span>
									</div>
								</div>
							</div>

							<div class="row mt-3 mb-2">
								<div class="col-md-12">
									<div class="form-group">
										<label class="bmd-label-floating"> Your text here</label>
										<textarea asp-for="Text" class="form-control" rows="12" required> </textarea>
										<span asp-validation-for="Text" class="text-danger"></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-3">
									<div class="form-check d-inline-block mr-5">
										<div class="form-group form-check">
											<label class="form-check-label text-warning">
												<input asp-for="CommentingPermission" class="form-check-input" type="checkbox" value="true" />
												<span class="form-check-sign">
													<span class="check"></span>
												</span>
												Allow commenting
											</label>
										</div>
									</div>
								</div>

								<div class="col">
									<div class="mt-2">
										<input type="file" asp-for="NewPictures" accept="image/*" multiple /><br />
										<span asp-validation-for="NewPictures" class="text-danger"></span>
									</div>
								</div>
							</div>

							@if (Model.PictureViewDTOs != null)
							{
								<div class="row">
									<div class="col">
										<div class="container text-center">
											@foreach (var image in Model.PictureViewDTOs)
											{
												<div class="row">
													<div class="col">
														<img class="img-fluid rounded m-3" src="~/Files/Images/@image.PictureName" />
													</div>
												</div>
											}
										</div>
									</div>
								</div>
							}

							<button type="submit" class="btn btn-primary pull-right">Save</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>