@model Blog.Entities.DTOs.Post.PostUpdateDTO


@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/lib/ckeditor_4.14.1_full_easyimage/ckeditor/ckeditor.js"></script>

<div class="content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col">
				<div class="card p-3">
					<div class="card-header card-header-primary">
						<h4 class="card-title">Edit post</h4>
					</div>
					<div class="card-body">
						<form asp-action="UpdatePost" enctype="multipart/form-data">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>

							<div class="form-group">
								<label class="bmd-label-floating">Title</label>
								<input asp-for="Title" class="form-control" style="font-size: 25px" maxlength="100" required />
								<span asp-validation-for="Title" class="text-danger"></span>
							</div>

							<div class="row mt-3">
								<div class="col">
									<div class="form-group">
										<label class="bmd-label-floating"> Your description here</label>
										<textarea asp-for="Description" class="form-control" id="postDescription" maxlength="300" required>
										</textarea>
										<span asp-validation-for="Description" class="text-danger"></span>
									</div>
								</div>
							</div>

							<div class="row mt-3 mb-2">
								<div class="col">
									<div class="form-group">
										<label class="bmd-label-floating"> Your post text here</label>
										<textarea asp-for="Text" id="postText" class="form-control" required> </textarea>
										<span asp-validation-for="Text" class="text-danger"></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-3">
									<div class="form-check d-inline-block mr-5">
										<div class="form-group form-check">
											<label class="form-check-label text-warning">
												<input asp-for="CommentingPermission" class="form-check-input" type="checkbox"
													   value="true" />
												<span class="form-check-sign">
													<span class="check"></span>
												</span>
												Allow commenting
											</label>
										</div>
									</div>
								</div>

								<div class="col">
									<div class="mt-2">
										<input type="file" asp-for="NewPictures" accept="image/*" multiple /><br />
										<span asp-validation-for="NewPictures" class="text-danger"></span>
									</div>
								</div>
							</div>

							@if (Model.PictureViewDTOs != null)
							{
								<div class="row">
									<div class="col">
										<div class="container text-center">
											@for (int i = 0; i < Model.PictureViewDTOs.Count; i++)
											{
												<div class="row w-100">

													<div class="col">
														<img class="img-fluid rounded m-3"
															 src="~/Files/Images/@Model.PictureViewDTOs[i].PictureName" />
													</div>

													<div class="col-2">
														<input asp-for="@Model.PictureViewDTOs[i].Id" type="hidden" />
														<input asp-for="@Model.PictureViewDTOs[i].PicturePath" type="hidden" />
														<div class="form-check d-inline-block mr-5 mt-5">
															<div class="form-group form-check">
																<label class="form-check-label text-warning">
																	<input asp-for="@Model.PictureViewDTOs[i].Delete"
																		   class="form-check-input" type="checkbox" value="true" />
																	<span class="form-check-sign">
																		<span class="check"></span>
																	</span>
																	Delete
																</label>
															</div>
														</div>
													</div>
												</div>
											}
										</div>
									</div>
								</div>
							}

							<button type="submit" class="btn btn-primary pull-right">Save</button>
							<div class="clearfix"></div>
							<script>
								CKEDITOR.replace('postText');
								CKEDITOR.replace('postDescription');
							</script>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*@section scripts{
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>

}*@