@model Blog.Entities.DTOs.Account.UserChangePasswordDto

<link href="~/css/common.css" rel="stylesheet" type="text/css" />

<div class="">
	<div class="row">
		<div class="w-50 mt-3">
			<div class="col">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Password change</h4>
					</div>
					<div class="card-body">
						<form asp-action="ChangePassword" asp-controller="Account" method="post">
							<input type="hidden" asp-for="Id" />
							<input type="hidden" asp-for="Email" />
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="bmd-label-floating">Current password</label>
										<input type="password" class="form-control" asp-for="OldPassword" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="bmd-label-floating">New password</label>
										<input type="password" class="form-control" asp-for="NewPassword" required>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="bmd-label-floating">Confirm new password</label>
										<input type="password" class="form-control" asp-for="NewPasswordConfirm" required>
									</div>
								</div>
							</div>

							<button type="submit" class="btn btn-warning pull-right">Submit</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>