@model Blog.Entities.DTOs.Account.UserRegisterDto

@{
	ViewData["Title"] = "Реєстрація";
}

<link href="~/css/common.css" rel="stylesheet" type="text/css" />

<div class="vertical-center">
	<div class="w-50">
		<div class="bg-white p-5 rounded">
			<form asp-action="Register" asp-controller="Account" method="post">
				<h2 class="text-center mb-5">Travel blog</h2>
				<h3 class="text-left">Реєстрація</h3>
				<div class="form-group row px-3">
					<label class="col-form-label">Введіть ім'я користувача:</label><br />
					<input class="w-100" asp-for="UserName" placeholder="Ім'я користувача" />
					<span asp-validation-for="UserName"></span>
				</div>
				<div class="form-group row px-3">
					<label class="col-form-label">Введіть ваш email:</label><br />
					<input class="w-100" asp-for="Email" placeholder="Email" type="email" />
					<span asp-validation-for="Email"></span>
				</div>
				<div class="form-group row px-3">
					<label class="col-form-label">Введіть ваш пароль:</label><br />
					<input class="w-100" type="password" asp-for="Password" placeholder="Пароль" />
					<span asp-validation-for="Password"></span>
				</div>
				<div class="form-group row px-3">
					<label class="col-form-label">Підтвердіть ваш пароль:</label><br />
					<input class="w-100" type="password" asp-for="PasswordConfirm" placeholder="Пароль" />
					<span asp-validation-for="PasswordConfirm"></span>
				</div>
				<div class="small mt-2">
					<a asp-action="Authenticate" asp-controller="Account">Увійти</a>
				</div>
				<div class="text-center">
					<input class="mt-5 w-50 btn btn-outline-info" type="submit" value="Зареєструватись" />
				</div>
			</form>
		</div>
	</div>
</div>
<div class="vertical-center">
	<div class=" bg-white p-5 rounded w-75">
		<form asp-action="SendLinkForChengePassword" asp-controller="Account" method="post">
			<h2 class="text-center mb-4">Travel blog</h2>
			<h3 class="text-left">
				Введіть, будь ласка, вашу електронну адресу, на яку буде відправлено посилання для зміни паролю
			</h3>

			<div class="form-group row mt-5 ">
				<label for="userEmail" class="col-1 col-form-label">Email:</label>
				<div class="col-7 ml-0">
					<input type="email" class="w-100 form-text text-muted mt-0 " id="userEmail"
						   placeholder="Enter email" name="email" />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button type="submit" class="btn btn-outline-info">Надіслати</button>
				</div>
			</div>
		</form>
	</div>
</div>