@{
	ViewData["Title"] = "Password recovery";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/common.css" rel="stylesheet" type="text/css" />

<div class="vertical-center">
	<div class=" bg-white p-5 rounded w-75">
		<form asp-action="SendLinkForChengePassword" asp-controller="Account" method="post">
			<h2 class="text-center mb-4">Travel blog</h2>
			<h3 class="text-left">
				Введіть, будь ласка, вашу електронну адресу, на яку буде відправлено посилання для зміни паролю
			</h3>
			<div class="ml-5">
				<div class="form-group row mt-5 ">
					<div class="col-7">
						<label class="col-form-label">Введіть email від вашого акаунту:</label>
						<input type="email" class="w-100 form-text text-muted mt-0 " id="userEmail"
							   placeholder="Email" name="email" />
					</div>
				</div>
				<button type="submit" class="btn btn-outline-info mt-3">Надіслати</button>
			</div>
		</form>
	</div>
</div>