@model IEnumerable<Blog.Entities.DTOs.Category.CategoryViewDTO>

@{
    ViewData["Title"] = "ViewAllCategories";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<h1>ViewAllCategories</h1>


<p>
    <a asp-action="Create">Create category</a>
</p>


<div>
    <label>Categories: </label>
    @foreach (var item in Model)
    {
        <label> @Html.DisplayFor(modelItem => item.Name) </label>
    }
</div>

<hr style="width:100%;text-align:left;margin-left:0">

@*<div class="form-group">
    <label for="autocomplete">Select category: </label>
    <input id="autocomplete"
           class="ui-autocomplete-input"
           autocomplete="off"
           autofill="true" />
    <script>
            $(document).ready(function () {
                $('#autocomplete').autocomplete({
                    source: '@Url.Action("SelectCategory", "Category")'
                });
            });
    </script>

    <ejs-autocomplete id="country" dataSource="@Url.Action("SelectCategory", "Category")" placeholder="e.g. Australia" autofill="true" filterType="StartsWith" sortOrder="@ViewBag.sort">
        <e-autocomplete-fields value="Name"></e-autocomplete-fields>
        <script>
                var tags = ["Anime", "Travel", "Art", "Lifestyle", "Cars"];
                $("#autocomplete").autocomplete({
                    source: function (request, response) {
                        var matcher = new RegExp(
                            "^" + $.ui.autocomplete.escapeRegex(request.term),
                            "i"
                        );
                        response(
                            $.grep(tags, function (item) {
                                return matcher.test(item);
                            })
                        );
                    }
                });
            </script>
</div>*@

@*//$("#categoryInput").autocomplete({
    //    source: function (request, response) {
    //        $.ajax({
    //            url: "/Category/ViewAllCategories",
    //            type: "POST",
    //            dataType: "json",
    //            data: { Prefix: request.term },
    //            success: function (data) {
    //                response($.map(data, function (item) {
    //                    return { label: item.Name, value: item.Id }
    //                }))
    //            }
    //        })
    //    },
    //    messages: {
    //        noResults: "", results: ""
    //    }
    //});*@

@*<div class="form-group">
        <div class="col-md-5" placeholder="">
            <div asp-action="ViewAllCategories" asp-controller="Category"></div>
        </div>
    </div>*@

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('#productName').autocomplete({
                source: '/api/category/search'
            });
        });
    </script>
</head>
<body>

    <h3>AutoComplete in ASP.NET Core MVC</h3>
    <form>
        <input type="text" id="productName" placeholder="Input your keyword" />
    </form>

</body>
