@model IEnumerable<Blog.Entities.DTOs.Account.UserViewDto>

@{
	ViewData["Title"] = "Users";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="view-all">
	@await Html.PartialAsync("_ViewAllUsers", Model)
</div>