.vertical-center {
	min-height: 100%;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
}

.upload-element input[type="file"]{
	border: none;
	background-image: url(~/assets/img/add_image.svg);
}
