.control-buttons {
	height: 2em;
}

	.control-buttons img {
		height: 1.5em;
		width: 1.5em;
	}

		.control-buttons img:hover {
			height: 2em;
			width: 2em;
		}
/*
@media (min-width: 500px) {
	.card-columns {
		-webkit-column-count: 2;
		column-count: 2;
	}
}
*/
.card-columns {
	column-count: 2;
}

.ed-del-buttons button {
	background: none;
	border: none;
}

.sev_check{

}